.containerImage {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.tituloPlan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(184, 188, 189, 0.6);
  padding: 5px 5px 5px 5px;
  opacity: 1;
}

.promocionPlan {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff !important;
  font-size: 15px;
  background-color: #27AE60;
  padding: 5px 5px 5px 5px;
  opacity: 1;
  border-radius: 15px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-size: 14px;
}

.containerImage:hover .image {
  opacity: 0.2;
}

.containerImage:hover .middle {
  opacity: 1;
}

.containerImage:hover .tituloPlan {
  opacity: 0;
}

.containerImage:hover .promocionPlan {
  opacity: 0;
}