
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .how-icon {
        width: auto;
        margin-right: 25px;
        position: relative;
    }
    .how-icon span {
        display: none;
    }

}

/* MD Device :768px. */
@media (min-width: 767px) and (max-width: 991px) {
    .listico-explors-map-search {
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-booking-start {
        padding: 5px 10px !important;
        margin-top: 5px;
    }
    .location-search-result iframe {
        min-height: 450px;
    }
    .search-location-result {
        padding-top: 30px;
    }
    footer ul li {
        display: block;
    }
    .single-slide iframe {
        height: 450px;
    }
    .search-tab-wrap {
        margin: 100px auto;
    }
    .how-icon span {
        display: none;
    }
    .how-icon {
        width: 20%;
    }


}
/* SM Small Device :550px. */
@media only screen and (min-width: 520px) and (max-width: 767px) {
     .search-tab-wrap {
        margin: 50px auto;
    }
}
/* SM Small Device :350px. */
@media only screen and (max-width: 450px) {
    .single-experiance {
        padding: 20px;
    }
}
/* SM Small Device :550px. */
@media only screen and (max-width: 767px) {
    body , p, span, a {
        font-size: 15px;
        line-height: 26px;
    }
    .rating span {
        font-size: 22px !important;
    }
    h1 {
        font-size: 32px;
        line-height: 1.3;
    }
    .user-setting li a {
        margin-left: 0px;
        margin-right: 22px;
    }
    .how-icon {
        width: 30%;
    }
    .how-icon span {
        display: none;
    }
    .breadcrumb-banner {
        padding: 80px 0px;
    }
    .about-us-content-left a.btn-button {
        margin-bottom: 0px;
    }
    .section-padding {
        padding: 80px 0px;
    }
    .single-how-works {
        margin-top: 50px;
    }
    .single-testimonial {
        margin-top: 50px;
    }
    .top-bar-header {
       padding: 10px 0px;
    }
    .main-header {
        padding: 0;
    }
    h2 {
        font-size: 28px;
    }
    .widget-cats ul li {
        display: block;
    }

    .single-footer-widget, .call-action-btn {
        margin-top: 30px;
    }

    .footer-widgets-section {
        padding-top: 40px;
    }

    .footer-menu {
        margin-top: 15px;
        text-align: center;
    }
    .location-search-result iframe {
        min-height: 320px;
    }
    .footer-bottom-section span {
        text-align: center;
        display: block;
    }
    .listico-explors-map-search {
        padding-left: 15px;
        padding-right: 15px;
    }
    .single-slide iframe {
        height: 320px;
    }    
    .hero-section {
        padding: 0px 15px;
    }
    .slider-section {
        margin-top: 30px;
    }
    .footer-menu li {
        display: inline-block;
    }
    .search-tab-wrap {
        padding: 10px !important;
        width: auto;
        margin: 60px auto;
    }
    .btn-booking-start {
        padding: 5px 10px !important;
        margin-top: 5px;
    }
    .nav.nav-tabs {
      position: static;
      margin-bottom: 20px;
    }
    .promo-content h1 {
        font-size: 26px;
    }
    .call-to-action-wrap {
        text-align: center;
    }
    .mobile-none {
        display: none;
    }
    .promo-section.parallax {
        min-height: auto;
    }
    .promo-content {
        text-align: center;
    }
    .top-bar-right {
        display: none;
    }
    .banner-icon {
        margin-bottom: 20px;
    }
    .banner-left-content {
        display: block !important;
    }
    .banner-section {
        padding-top: 160px;
        padding-bottom: 50px;
    }
    .main-header {
        padding: 10px 0px;
    }
    .photo-gallery img {
        margin-left: 0px;
        margin-right: 8px;
        width: auto;
        height: auto;
        margin-top: 10px;
    }
    .single-details-navbar {
        padding: 20px 0px;
    }

    .main-header {
        background: #303030;
        color: #fff;
    }

    a.navbar-brand img {
        filter: brightness(99);
    }
    nav.navbar button {
        color: #fff;
        border: 1px solid #fff;
    }
    .main-menu nav ul li a {
        color: #fff;
    }  
    .contact-form form button {
        padding: 15px 30px;
        font-weight: 500;
    }  

}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1100px) {
  .parallax {
    background-attachment: scroll;
  } 
  .parallax-2 {
    background-attachment: scroll;
  }

}

@media only screen and (max-width: 550px) {
    .banner-section {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .top-bar-left span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 900px) {
    .footer-menu {
        text-align: center;
        margin-top: 20px;
    }
    .footer-bottom-section {
        text-align: center !important;
        display: block;
    }
    .box:last-child {
        margin: 0;
    }
    .photo-gallery img {
        margin-left: 0;
        width: 160px;
        height: 100px;
        margin-right: 10px;
        margin-top: 15px;
    }

}

@media only screen and (max-width: 991px) { 
    .btn-submit {
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 500px) {
    .how-icon {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .single-how-works {
        margin-top: 50px;
        display: block !important;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    a.btn-booking-start {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .hero-section {
        padding: 0;
        background: #fff;
    }
    .search-section {
      background: #fff !important;
    }
    .search-section::before {
      display: none;
    }
    .search-tab-wrap {
        box-shadow: 0px 8px 7px 0px #ddd;
    }

}