
.login-page{	
	background-image: url("../img/fondo2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.login-logo a{
	color: #000000;	
}

.radiotext {
    margin: 10px 10px 0px 0px;
}

.timeline *{
	font-size: 12px;
}

.bg-amarillo{
	background: #F4D03F;
}

.centrar{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}